body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100%;
    background-color: #000; /* Black background for the whole page */
    color: #fff; /* White text for the whole page */
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    
}

.site-header {
    background-color: #000;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px; /* Adjust this padding to ensure it aligns with the header */
    width: 100%; /* Ensure the container is full width */
    max-width: 1200px; /* Match this to the header's max width if necessary */
    margin: 0 auto; /* Center the container */
}

.site-header .logo img {
    max-height: 70px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 40px; /* Increased distance between menu items */
}

nav ul li a {
    color: #fff;
    font-size: 24px; /* Increased font size */
    text-decoration: none;
    transition: color 0.3s, text-decoration 0.3s;
}

nav ul li a:hover {
    color: #FFBD39; /* Orange */
    text-decoration: underline;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 ; /* Horizontal padding only */
    padding-bottom: 100px;
}


.text-container {
    /* Align the text to the center */
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    align-items: flex-start; /* This centers the child elements horizontally */
    justify-content: center; /* This centers the child elements vertically */
    text-align: flex-start; /* This centers the text within the text block */
    flex: 1;
}

.hello-text {
    color: #FFBD39; /* Orange color for consistency */
    font-size: 20px; /* Size of the Hello text */
    font-weight: 100; /* Bold font weight */
    margin-bottom: 0px;

}

.job-text {
    color: #ffffff; /* Orange color for consistency */
    font-size: 35px; /* Size of the Hello text */
    font-weight: 100; /* Bold font weight */
    margin-top: 10px;

}

#custom-text {
        font-size: 64px;
        color: #ffffff;
        font-weight: bold;
        margin: 0 0 40px 0;/* Reset any default margins */
}

.job-title {
    color: #FFBD39; /* Orange color for the job title */
    font-weight: 700;
}

.button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button.hire-me {
    background-color: #FFBD39; /* Orange background */
    color: #000; /* Black text */
    font-size: 18px;
}

.button.my-works {
    /* Keep the same style as before */
    font-size: 18px;
}

.button:hover {
    background-color: #555;
}

.site-header {
    /* Adjust padding as necessary to create equal space above and below the header content */
    padding: 20px 0; /* Example: 20px top and bottom */
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center content in the text-container */
    align-items: flex-start; /* Align text to the start (left) */
    flex-basis: calc(50% - 20px); /* Assuming a gap of 20px; adjust as necessary */
    margin-right: 0px; /* This adds a gap between the text-container and the image */
    position: relative;
    max-width: 900px;
}

.text-container-title {
    position:absolute;
    animation: textFadeScale 12s infinite;
    transform: scale(0); /* Startet als Punk in der Mitte */
    transform-origin: center;
}


#text2 {
    font-size: 64px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 0px;
    animation-delay: 6s; /* Startet die Animation 5 Sekunden später */

}

#text2 h1 {
    font-size: 42px;
    font-weight: normal;
    margin-top: 10px;
}

#title2 {
    animation: textFadeScale 12s infinite;
    animation-delay: 6s; 
    transform: scale(0); /* Startet als Punk in der Mitte */
    transform-origin: center;
    margin-bottom: 0;
    opacity: 0;
    transform: scale(0.7);
}

#custom-text {
    font-size: 64px; /* Set the font size to 64px */
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 60; /* Adjust bottom margin to space buttons, remove top margin */
}

.button {
    padding: 15px 30px;
    margin: 5px; /* Reduce the margin to bring buttons closer together */
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons-container {
    display: flex;
    justify-content: flex-start; /* Align buttons to the start */
    gap: 40px; /* Reduce gap between buttons if needed */
    margin-top: 200px
}

#profile-image {
    margin-left: auto; /* Pushes the image to the right */
    margin-right: 0px; /* Aligns the image's right edge with the container's right padding */
    max-width: none; /* Ensures the image is responsive and does not overflow */
    height: 550px; /* Maintain aspect ratio */
}


.about-me {
    background-color: #111; /* Slightly lighter than your main background for contrast */
    color: #fff;
    display: grid;
    justify-content: center;
    align-items: center;
}


.about-me h2 {
    color: #FFBD39; /* Reusing the orange color for visual consistency */
    font-size: 48px; /* Large text for the title */
    margin-bottom: 20px; /* Space between the title and the content */
    animation: fadeInUp 0.5s ease;
}

.my-animation {
    animation-name: textFadeScale;
    animation-duration: 1; /* Dauer der Animation auf 2 Sekunden gesetzt */
    animation-iteration-count: infinite; /* Die Animation wird unendlich oft wiederholt */
  }
  
.skills-section {
    background-color: #111; /* Dunkler Hintergrund */
    color: #fff;
    padding: 50px 20px;
}

.skills-section .container {
    max-width: 800px;
    margin: auto;
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.skill {
    flex-basis: calc(50% - 20px); /* Stellen Sie sicher, dass zwei Fähigkeiten pro Zeile passen, mit etwas Abstand dazwischen */
    margin: 10px;
    background-color: #333; /* Dunkler Hintergrund für die Skill-Bar */
    color: #fff;
    padding: 10px;
  }

.skill-name {
    margin-right: 10px; /* Abstand zwischen Skill-Name und Prozentanzeige */
  }
  

.skill-bar {
    background-color: #FFBD39; /* Hintergrundfarbe der gefüllten Skill-Bar */
    height: 10px;
    width: 0; /* Startbreite, sollte per JavaScript oder direkt im HTML entsprechend des Prozentwerts gefüllt werden */
  }

.skill-percentage {
    background-color: #FFBD39; /* Orange Farbe für die Füllung */
    height: 1%;
    position: absolute;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 2s ease-out;
}
/* Fügen Sie diese Klasse mit JavaScript hinzu, wenn der Skill-Bereich sichtbar wird */
.skill-percentage.visible {
    transform: scaleX(1);
}


.container2 {
    justify-content: space-between;
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 100%; /* Ensure the container is full width */
    max-width: 1200px; /* Match this to the header's max width if necessary */
    margin: auto; /* Center the container */
}

.title-container h1 {
    text-align: center;
    font-size: 62px;
    margin-bottom: 10px;
    margin-top: 40px;
    
    
}

.title-container h3 {
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 40px;
    margin-top: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.collum {
    width: 47% /* Adjust this value to fit your needs */
}

.block {
    background-color: #1A1A1A;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 40px; /* Add some space between the blocks */
    text-align: center; /* Center the content */
}

.block .date {
    color: #FFBD39; /* Replace with the exact color of your website */
    font-weight: bold;
}

.block h2 {
    font-size: 26px;
}

.block .position, .block .desc-block {
    color: #999999; /* Replace with the exact color of your website */
    font-size: 18px;
}

.contact-me {
    background-color: #111; /* Slightly lighter than your main background for contrast */
    color: #fff;
    display: grid;
    justify-content: center;
    align-items: center;
}

  @keyframes textFadeScale {
    0%, 42% {
      opacity: 1;
      transform: scale(1); /* Voll sichtbar für 4,5 Sekunden */
    }
    49%, 50% {
      opacity: 0;
      transform: scale(0.7); /* Schnelle Änderung innerhalb von 0,5 Sekunden */
    }
    50%, 92% {
      opacity: 0;
      transform: scale(0.7); /* Unsichtbar für 4,5 Sekunden */
    }
    99%, 100% {
      opacity: 1;
      transform: scale(1); /* Schnelle Rückkehr zur vollen Sichtbarkeit in 0,5 Sekunden */
    }
  } 
  
@keyframes fadeOutIn {
    0%, 48.5% { 
      opacity: 1; /* Voll sichtbar für 4,9 Sekunden */
    }
    48.6%, 51.5% {
      opacity: 0; /* Schneller Übergang zur Unsichtbarkeit in 0,1 Sekunden */
    }
    51.6%, 98.5% {
      opacity: 0; /* Wieder voll sichtbar für 4,9 Sekunden */
    }
    98.6%, 101.5% {
      opacity: 1; /* Schneller Übergang zur Unsichtbarkeit in 0,1 Sekunden */
    }
  }
  

@keyframes fadeInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    from {
        transform: translateX(-20px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInRight {
    from {
        transform: translateX(20px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

